aiohttp==3.6.2
alabaster==0.7.12
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
discord==1.0.1
discord.py==1.5.0
docutils==0.16
idna==2.9
imagesize==1.2.0
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
multidict==4.7.5
networkx==2.4
numpy==1.18.2
packaging==20.4
pandas==1.0.3
praw==6.5.1
prawcore==1.0.1
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==3.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-trio==1.1.2
update-checker==0.16
urllib3==1.25.8
websocket-client==0.57.0
websockets==8.1
yarl==1.4.2
